<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hello {{ title }}!
  </h1>
</div>
<section>
  <div>
    <ul>
      <li *ngFor="let item of  drinkList">
        {{item.Attractions}}
        &nbsp;
        {{item.AtCity}}
      </li>
    </ul>
    <div>
      <span>Today:</span>
      <span>{{sDate.currentDate | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
    <div>
      <span>Tomorrow:</span>
      <span>{{sDate.tomorrowDate | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>

    <div>
      <span>AddDays:</span>
      <input type="number" [(ngModel)]="addNum">
      <span>Result: </span>
      <span>{{sDate.AddDays(addNum) | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
  </div>
</section>

