div{
  &.input_section{
    .Input_port{
      min-width: 276px;
    }
  }
  &.output_section{
    .todolist{
      .todolist_item{
        &.deleted_line{
          text-decoration: line-through;
          color:#666;
          label{
            color:#aaa;
          }
        }
        .item_content{
          color: #333;
          .edit{
            z-index: 9;
            position: absolute;
            left: 30px;
            height: 20px;
          }
        }
      }
    }
  }
}
